<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
  <!-- Header -->
    <%= render 'layouts/header' %>

  <!-- Body -->
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

  </body>
</html>
